<div class="card-group">

        <form #predictionForm="ngForm" (ngSubmit)="onClickSubmit(predictionForm.value)">
            <div class="form-group" *ngFor="let item of listOrders,let i =index">
                <label for="exampleInputEmail1">{{item.name}}</label>
                <input type="number" class="form-control"  name="predicted" placeholder="Enter quantity"
                    [(ngModel)]="item.qunatity">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    
    </div>