<div class="card-group" *ngIf="!isEmpty">

    <form #orderForm="ngForm">
        <div class="row">
            <div class="col-md-6 position" *ngFor="let item of listOrders,let i =index">
                <div class="form-group">
                    <label for="exampleInputEmail1">{{item.name}}</label>
                    <input type="number" class="form-control" name="predicted" placeholder="Enter quantity"
                        [(ngModel)]="item.qunatity">
                </div>
            </div>
        </div>

        <br>
        <div class="btnpostion">
            <button class="btn btn-primary" (mousedown)="onClickSubmit(orderForm.value)">
                <i class="fa fa-floppy-o" aria-hidden="true"></i>
                Submit</button> &nbsp;
            <button (mousedown)="orderForm.reset()" class="btn btn-warning">
                <i class="fa fa-times" aria-hidden="true"></i>
                Clear</button>
        </div>
    </form>

</div>

<div *ngIf="isEmpty">
    No Prediction Made
</div>