<div class="btnpostion">
  <button class="btn btn-primary" (mousedown)="onDownload()">
    <i class="fa fa-download" aria-hidden="true"></i>
    &nbsp; CSV Download</button>
</div>

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th>Name</th>
      <th>Quantity</th>
      <th>Created Till Now</th>
      <th>Predicted</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let item of listOrders">
      <td>{{item.name}}</td>
      <td>{{item.totalqunatity}}</td>
      <td>{{item.created}}</td>
      <td>{{item.predicted}}</td>
      <td><button (click)="onDone(item)" class="bt btn-success"> <i class="fa fa-check-circle-o" aria-hidden="true"></i>
          Done</button></td>
    </tr>
    <tr *ngIf="isEmpty">
      <td colspan="5" style="text-align: center;">No Data Found</td>
    </tr>
  </tbody>
</table>